@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "modules-creation";
@import "m-btn";
@import "m-input";
@import "m-select";
@import "m-rating";

//$color-main: #506a85;
//$font-main: 'Raleway', sans-serif;
$color-main: #B6B6B6;

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #B6B6B6;
  background-color: #F7F7F7;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  margin: 0;
}

#scroll-1,
#scroll-2,
#scroll-3 {
	&::-webkit-scrollbar {
		width: 6px;
		background-color: #ffffff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #f2f2f2;
		border-radius: 3px;
	}
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.line-100 {
  width: calc(100% + 200px);
  height: 1px;
  border-top: 1px solid #e3e3e3;
  opacity: 1 !important;
  margin-left: -50px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px #bbb;
  margin-bottom: 15px;
  padding: 25px 0;
  @media (max-width: 405px) {
    flex-direction: column;
    align-items: baseline;
    padding: 20px 0;
  }
  .header-logo-wrapper {
    margin: 0 35px;
    @media (max-width: 1230px) {
      margin: 0 10px;
    }
    img {
      @media (max-width: 500px) {
        width: 200px;
      }
      @media (max-width: 405px) {
        margin-bottom: 10px;
      }
    }
  }
  .header-menu-nav {
    &.show {
      @media (max-width: 767px) {
        .menu {
          transform: translateX(0);
        }
      }
    }
    .menu {
      @media (max-width: 767px) {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.75);
        top: 0;
        left: 0;
        transform: translateX(100%);
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
      }
      ul {
        display: flex;
        list-style-type: none;
        @media (max-width: 767px) {
          width: 100%;
          display: inline-block;
          margin-top: 90px;
        }
        li.items {
          display: flex;
          align-items: center;
          width: 165px;
          height: 40px;
          border-radius: 15px;
          box-shadow: 0px 1px 5px #bbbbbb;
          margin: 0 10px;
          @media (max-width: 1230px) {
            width: auto;
          }
          @media (max-width: 1045px) {
            width: auto;
            height: auto;
          }
          @media (max-width: 767px) {
            box-shadow: none;
          }
          a {
            font-size: 20px;
            @media (max-width: 1230px) {
              margin-right: 10px;
            }
            @media (max-width: 1045px) {
              margin: 0 5px;
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 16px;
            }
            @media (max-width: 767px) {
              width: 100%;
              flex-direction: row;
              color: #FEFEFE;
              font-size: 20px;
              padding: 7px;
              border-bottom: 1px solid;
            }
            img {
              margin: 0 10px;
              @media (max-width: 1045px) {
                margin-top: 5px;
              }
              @media (max-width: 767px) {
                width: 38px;
              }
            }
          }
        }
      }
    }
    .toggle {
      position: absolute;
      top: 20px;
      right: 20px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 10px;
      @media (max-width: 767px) {
        display: flex;
        z-index: 100;
        span {
          width: 100%;
          height: 3px;
          background-color: #ffffff;
        }
      }
      @media (max-width: 500px) {
        top: 15px;
      }
      @media (max-width: 405px) {
        top: 30px;
      }
    }
  }
  .header-user-wrapper {
    display: flex;
    margin: 0 35px;
    @media (max-width: 1230px) {
      margin: 0 10px;
    }
    @media (max-width: 767px) {
      margin: 0 95px 0 10px;
    }
    @media (max-width: 405px) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0;
    }
    .user-avatar {
      img {
        @media (max-width: 500px) {
          width: 30px;
        }
      }
    }
    .user-name {
      display: flex;
      @media (max-width: 1045px) {
        align-items: center;
      }
      @media (max-width: 500px) {
        align-items: baseline;
      }
      span {
        margin: 0 20px;
        color: #0C508E;
        @media (max-width: 1045px) {
          font-size: 16px;
        }
        @media (max-width: 500px) {
          margin: 0 5px;
          font-size: 14px;
        }
      }
      .user-drop-down {
        i {
          color: #0C508E;
          font-size: 14px;
          @media (max-width: 1045px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

section.steps {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px #bbb;
  margin-top: 90px;
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    li {
      a {
        position: relative;
        display: block;
        color: #0c508e;
        font-family: 'Gotham-Book';
        font-size: 25px;
        &.active {
          &:before {
            position: absolute;
            width: 28px;
            height: 37px;
            top: 0;
            left: -30px;
            content: '';
            background-image: url("../../app/img/content/pencil.png");
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

section.content-wrapper {
  position: relative;
  top: 160px;
  margin-top: 5px;
  margin-bottom: 70px;
  .content-left-wrapper {
    height: 72vh;
    background-color: #ffffff;
    padding-top: 190px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    .lp-new-campaign {
      #step1 {
        ul.questions {
          li#question1 {
            .question-inner {
              padding: 55px 0;
              .campaign-title {
                width: 100%;
                margin-bottom: 35px;
                span {
                  color: #0c508e;
                  font-family: Raleway;
                  font-size: 20px;
                  font-weight: 600;
                }
              }
              .campaign-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 5px;
                .campaign-link {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
          li#question2 {
            .question-inner {
              padding: 60px 0;
              .lp-ad-title {
                margin-bottom: 50px;
                span {
                  color: #0c508e;
                  font-family: Raleway;
                  font-size: 20px;
                  font-weight: 600;
                }
              }
              .m-input-wrapper {}
            }
          }
        }
      }
      #step2 {
        ul.questions {
          li#question3 {
            .question-inner {
              padding: 60px 0;
              .lp-ad-title {
                span {

                }
              }
              .m-input-wrapper {
                margin-top: 40px;
                .m-input {

                }
              }
            }
          }
          li#question4 {
            .question-inner {
              padding: 60px 0;
              .upload-title {

              }
              .upload-image-video {
                width: 100%;
                display: flex;
                margin-top: 40px;
                .upload-content-wrapper {
                  width: 50%;
                  display: flex;
                  justify-content: center;
                  .switch-color {
                  }
                }
              }
              .uploader-file {
                //display: none;
                .upload-liberty-title {
                  width: 100%;
                  text-align: center;
                  border-top: 1px solid #979797;
                  margin: 30px 0 25px;
                  padding-top: 25px;
                  span {
                    color: #464c56;
                    font-family: Raleway;
                    font-size: 20px;
                    font-weight: 500;
                    padding-top: 25px;
                  }
                }
                .upload-btn {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-bottom: 30px;
                  .upload-nav {
                    width: 477px;
                    height: 65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                    border-radius: 30px;
                    .upload-btn-wrapper {
                      width: 50%;
                      height: 40px;
                      display: flex;
                      justify-content: center;
                      &:first-child {
                        border-right: 1px solid #dcdcdc;
                      }
                      button {
                        background-color: #ffffff;
                        border: none;
                        span {
                          color: #0c508e;
                          font-size: 17px;
                          img {
                            margin-right: 10px;
                          }
                        }
                      }
                      label {
                        margin: 0;
                        span {
                          color: #0c508e;
                          font-size: 17px;
                          img {
                            margin-right: 10px;
                          }
                        }
                      }
                      input {
                        display: none;
                        width: 0;
                        height: 0;
                        visibility: hidden;
                        opacity: 0;
                      }
                    }
                  }
                }
                .upload-preview-wrapper {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  margin-bottom: 15px;
                  .upload-preview {
                    width: 638px;
                    height: 331px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    overflow-y: scroll;
                    box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);

                    .upload-img-wrapper {
                      margin: 10px;
                      img {
                        width: 275px;
                      }
                    }
                  }
                  #scroll-1::-webkit-scrollbar {
                    width: 6px;
                    background-color: #ffffff;
                  }
                  #scroll-1::-webkit-scrollbar-thumb {
                    background-color: #f2f2f2;
                    border-radius: 3px;
                  }
                }
                .upload-ok {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  .link-ok-wrapper {
                    width: 310px;
                    height: 66px;
                  }
                }
              }
            }
          }
          li#question5 {
            .question-inner {
              padding: 60px 0;
              .lp-ad-title {
                span {}
              }
              .m-input-wrapper {
                margin-top: 30px;
                input.m-input{}
              }
            }
          }
        }
      }
      #step3 {
        ul.questions {
          li#question6 {
            .question-inner {
              padding-top: 60px;
              .upload-choose-conversion {
                display: flex;
                flex-direction: column;
                span.upload-title-conversion {
                  margin-bottom: 15px;
                }
                span.upload-description-conversion {
                  color: #6b6b6b;
                  font-family: Raleway;
                  font-size: 15px;
                  font-weight: 500;
                }
                .upload-choose-conversion-btn {
                  margin: 45px 0 60px;
                }
              }
            }
          }
          li#question7 {
            .question-inner {
              padding: 60px 0;
              .upload-message-audience {
                display: flex;
                img {
                  width: 49px;
                  height: 39px;
                  margin-right: 20px;
                }
                p {
                  color: #0c508e;
                  font-family: Raleway;
                  font-size: 20px;
                  font-weight: 600;
                  margin-bottom: 35px;

                }
              }
              .upload-continue-btn {
                margin-left: 60px;
              }
            }
          }
          li#question8 {
            .question-inner {
              padding: 60px 0;
              .upload-custom-audience {
                .upload-custom-audience-btn {
                  display: flex;
                  justify-content: space-around;
                  margin-top: 40px;
                }
              }
            }
          }
          li#question9 {
            .question-inner {
              padding: 60px 0;
              .upload-choose-audience {
                .upload-choose-audience-btn {
                  margin-top: 40px;
                }
              }
            }
          }
        }
      }
      #step4 {
        ul.questions {
          li#question10 {
            .question-inner {
              padding: 60px 0;
              .step4-spend-money {
                .step4-title {
                  margin-bottom: 60px;
                }
                .m-input-wrapper {
                }
              }
            }
          }
          li#question11 {
            .question-inner {
              padding: 60px 0;
              .step4-when-start {
                .step4-title {
                  margin-bottom: 60px;
                }
                .m-input-img-wrapper {
                }
              }
            }
          }
          li#question12 {
            .question-inner {
              padding: 60px 0;
              .upload-message-audience {
                display: flex;
                img {
                  width: 49px;
                  height: 39px;
                  margin-right: 30px;
                }
                p {
                  color: #0c508e;
                  font-family: Raleway;
                  font-size: 20px;
                  font-weight: 600;
                  line-height: 30px;
                  margin-bottom: 45px;
                }
              }
              .upload-continue-btn {
                margin-left: 70px;
                a {}
              }
            }
          }
          li#question13 {
            .question-inner {
              padding: 60px 0;
              .step4-rate {
              }
            }
          }
        }
      }
      #step5 {
        ul.questions {
          li#question14 {
            .question-inner {
              padding: 60px 0;
              .step5-show-panel {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
                border-radius: 7px;
                margin-bottom: 20px;
                padding: 10px 20px;
                .step5-show-title {
                  span {
                    color: #6b6b6b;
                    font-family: Raleway;
                    font-size: 20px;
                    font-weight: 600;
                  }
                }
                .step5-show-refresh {
                  width: 167px;
                  height: 56px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                  border-radius: 100px;
                  a {
                    color: #0c508e;
                    font-size: 17px;
                    text-decoration: none;
                    &:hover {
                      color: #0c508e;
                    }
                  }
                }
                .step-show-btn {
                  width: 167px;
                  height: 56px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                  border-radius: 100px;
                  padding: 0 40px;
                  a {
                    color: #0c508e;
                    font-size: 17px;
                    text-decoration: none;
                    &:hover {
                      color: #0c508e;
                    }
                    i {
                      color: #6c6c6c;
                      font-size: 30px;
                    }
                  }
                  span {
                    width: 2px;
                    height: 40px;
                    background-color: #dcdcdc;
                  }
                }
              }
              .step5-facebook-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
  .content-right-wrapper {
    background-color: #ffffff;
    height: 72vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    .step2-facebook-post {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      .step2-panel-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        margin-bottom: 20px;
        padding: 10px 20px;
        .step2-show-title {
          span {
            color: #6b6b6b;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 600;
          }
        }
        .step2-show-refresh {
          width: 167px;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border-radius: 100px;
          a {
            color: #0c508e;
            font-size: 17px;
            text-decoration: none;
            &:hover {
              color: #0c508e;
            }
          }
        }
        .step-show-btn {
          width: 167px;
          height: 56px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border-radius: 100px;
          padding: 0 40px;
          a {
            color: #0c508e;
            font-size: 17px;
            text-decoration: none;
            &:hover {
              color: #0c508e;
            }
            i {
              color: #6c6c6c;
              font-size: 30px;
            }
          }
          span {
            width: 2px;
            height: 40px;
            background-color: #dcdcdc;
          }
        }
      }
      .step2-facebook-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .step3-accordion-page {
      margin-bottom: 100px;
      .accordion-panel-nav {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
        a {
          width: 165px;
          height: 40px;
        }
      }
    }
    .step4-list {
      ul {
        li {
          display: flex;
          border-top: 1px solid #ebebeb;
          padding: 60px 20px;
          img {
            width: 83px;
            height: auto;
          }
          .step4-info {
            display: flex;
            flex-direction: column;
            margin-left: 35px;
            span.list-title {
              color: #0c508e;
              font-family: Raleway;
              font-size: 24px;
              font-weight: 600;
              line-height: 30px;
              margin-bottom: 20px;
            }
            span.list-count {
              color: #c9321f;
              font-family: 'Gotham-Bold';
              font-size: 30px;
              font-weight: 400;
              line-height: 30px;
            }
          }
        }
      }
    }
    .step5-accordion-page {
      margin-bottom: 100px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -3px 5px 0px #bbb;
  padding: 20px 0;
  @media (max-width: 767px) {
    padding: 10px 0;
  }
  .footer-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .footer-menu {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
        @media (max-width: 767px) {
          width: 100%;
          justify-content: space-around;
        }
        li {
          a {
            color: $color-main;
            @media (max-width: 767px) {
              font-size: 16px;
            }
          }
        }
      }
    }
    .footer-social {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
      .footer-social-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        ul {
          display: flex;
          justify-content: space-between;
          width: 60%;
          list-style-type: none;
          @media (max-width: 767px) {
            width: 100%;
            justify-content: space-around;
          }
          li {
            a {

              img {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.questions > .question {
  position: relative;
  opacity: .2;
  display: none;
  //.line-100 {
  //  background-color: red;
  //  opacity: 1 !important;
  //}
  &.is-block {
    display: block;
  }

  &.focus {
    cursor: default;
    opacity: 1;
    //.line-100 {
    //  background-color: blue;
    //  opacity: 1 !important;
    //}
  }

  .question-inner {
    //padding: 60px 0;
    //border-bottom: 1px solid red;
  }
}

#is-step-2,
#is-step-3,
#is-step-4,
#is-step-5 {
	display: none;

	&.active {
		display: block;
	}
}