//3. Optimized for screens: 320px, 375px, 800px, 960px, 1024px, 1280px, 1366px

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "modules-creation";
@import "m-btn";
@import "m-input";
@import "m-select";
@import "m-rating";
@import "../css/modules-creation.css";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: #B6B6B6;
  background-color: #F7F7F7;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 0;
}

section {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  &:hover {
	text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container-v {

}

.padding0 {
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px #bbb;
  padding: 10px 0;
  @media (max-width: 405px) {
	flex-direction: column;
	align-items: baseline;
	padding: 20px 0;
  }
  .header-logo-wrapper {
	margin: 0 35px;
	@media (max-width: 1230px) {
	  margin: 0 10px;
	}
	img {
	  @media (max-width: 960px) {
		height: 25px;
	  }
	  @media (max-width: 500px) {
		width: 200px;
	  }
	  @media (max-width: 405px) {
		margin-bottom: 10px;
	  }
	}
  }
  .header-menu-nav {
	&.show {
	  @media (max-width: 767px) {
		.menu {
		  transform: translateX(0);
		}
	  }
	}
	.menu {
	  @media (max-width: 767px) {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: rgba(0, 0, 0, 0.75);
		top: 0;
		left: 0;
		transform: translateX(100%);
		flex-direction: column;
		transition: transform 0.2s ease-in-out;
	  }
	  ul {
		display: flex;
		list-style-type: none;
		@media (max-width: 767px) {
		  width: 100%;
		  display: inline-block;
		  margin-top: 90px;
		}
		li.items {
		  //display: flex;
		  //align-items: center;
		  width: 150px;
		  height: 35px;
		  border-radius: 15px;
		  box-shadow: 0px 1px 5px #bbbbbb;
		  margin: 0 10px;
		  @media (max-width: 1230px) {
			width: auto;
		  }
		  @media (max-width: 1045px) {
			width: auto;
			height: auto;
		  }
		  @media (max-width: 767px) {
			box-shadow: none;
		  }
		  a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;;
			font-size: 18px;
			@media (max-width: 1230px) {
			  margin-right: 10px;
			}
			@media (max-width: 1200px) {
			  margin: 0 5px;
			  display: flex;
			  align-items: center;
			  font-size: 16px;
			  padding: 0 10px;
			}
			@media (max-width: 767px) {
			  width: 100%;
			  flex-direction: row;
			  color: #FEFEFE;
			  font-size: 20px;
			  padding: 7px;
			  border-bottom: 1px solid;
			}
			img {
			  width: auto;
			  height: 25px;
			  margin: 0 10px;
			  @media (max-width: 1045px) {
				margin: 5px;
			  }
			  @media (max-width: 767px) {
				width: 38px;
			  }
			}
		  }
		}
	  }
	}
	.toggle {
	  position: absolute;
	  top: 9px;
	  right: 9px;
	  display: none;
	  flex-direction: column;
	  justify-content: space-between;
	  width: 40px;
	  height: 40px;
	  background-color: rgba(0, 0, 0, 0.2);
	  border-radius: 6px;
	  padding: 10px;
	  @media (max-width: 767px) {
		display: flex;
		z-index: 100;
		span {
		  width: 100%;
		  height: 3px;
		  background-color: #ffffff;
		}
	  }
	  @media (max-width: 500px) {
		top: 15px;
	  }
	  @media (max-width: 405px) {
		top: 30px;
	  }
	}
  }
  .header-user-wrapper {
	display: flex;
	margin: 0 35px;
	@media (max-width: 1230px) {
	  margin: 0 10px;
	}
	@media (max-width: 767px) {
	  margin: 0 95px 0 10px;
	}
	@media (max-width: 405px) {
	  width: 100%;
	  display: flex;
	  justify-content: center;
	  margin: 0;
	}
	.user-avatar {
	  img {
		@media (max-width: 500px) {
		  width: 30px;
		}
	  }
	}
	.user-name {
	  display: flex;
	  @media (max-width: 1045px) {
		align-items: center;
	  }
	  @media (max-width: 500px) {
		align-items: baseline;
	  }
	  span {
		color: #0C508E;
		font-size: 16px;
		margin: 5px 20px;
		@media (max-width: 1045px) {
		  font-size: 16px;
		}
		@media (max-width: 500px) {
		  margin: 0 5px;
		  font-size: 14px;
		}
	  }
	  .user-drop-down {
		i {
		  color: #0C508E;
		  font-size: 14px;
		  @media (max-width: 1045px) {
			font-size: 12px;
		  }
		}
	  }
	}
  }
}

section.reporting-title {
  position: relative;
  margin-top: 80px;
  @media (max-width: 375px) {
	margin-top: 125px;
  }
  .reporting-title-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 10px;
	.reporting-title-img {
	  margin: 0 20px;
	  img {
		@media (max-width: 1200px) {
		  width: 35px;
		  height: 33px;
		}
		@media (max-width: 375px) {
		  width: 30px;
		  height: 28px;
		}
	  }
	}
	.reporting-title-calendar {
	  margin: 0 20px;
	  position: relative;
	  display: flex;
	  align-items: center;
	  .m-datepiker {
		display: flex;
		align-items: center;
		img {
		  @media (max-width: 1200px) {
			width: 35px;
			height: 33px;
		  }
		  @media (max-width: 375px) {
			width: 30px;
			height: 28px;
		  }
		}
		select {
		  color: #676767;
		  background-color: #ffffff;
		  font-family: 'Open Sans';
		  font-size: 22px;
		  font-weight: 600;
		  border: none;
		  outline: none;
		  padding: 0 40px 0 15px;
		  background-image: url('../../app/img/content/arrow-down.png');
		  background-repeat: no-repeat;
		  background-size: 30px 30px;
		  background-position: 100% 50%;
		  cursor: pointer;
		  outline: none;
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  text-indent: 1px;
		  text-overflow: '';
		  @media (max-width: 1200px) {
			background-size: 25px 25px;
			font-size: 18px;
			padding: 0 35px 0 10px;
		  }
		}
	  }
	}
  }
}

section.reporting-spent {
  position: relative;
  margin-top: 20px;
  .reporting-spent-wrapper {
	background-color: #ffffff;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	padding: 15px 30px;
	.padding0:nth-child(1) {
	  .spent-items-wrapper {
		border-left: none;
		@media (max-width: 375px) {
		  border-top: 0;
		}
	  }
	}
	.padding0:nth-child(3) {
	  .spent-items-wrapper {
		border-right: none;
	  }
	}
	.spent-items-wrapper {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-wrap: wrap;
	  border: 1px solid #dcdcdc;
	  padding: 20px;
	  @media (max-width: 1200px) {
		flex-direction: column;
		justify-content: center;
	  }
	  @media (max-width: 960px) {
		padding: 10px 15px;
	  }
	  @media (max-width: 767px) {
		padding: 10px 5px;
	  }
	  @media (max-width: 767px) {
		border-top: 1px solid;
		border-botton: 1px solid #dcdcdc;
		border-left: 0;
		border-right: 0;
	  }
	  &:last-child {
		border-bottom: none;
		@media (max-width: 375px) {
		  border-botton: 2px solid #dcdcdc;
		}
	  }
	  &:first-child {
		border-top: none;
		@media (max-width: 375px) {
		  border-top: 1.5px solid #dcdcdc;
		}
	  }
	  .spent-info-wrapper {
		display: flex;
		flex-direction: column;
		.spent-title-wrapper {
		  h4 {
			color: #373737;
			font-family: 'Gotham-Book';
			font-size: 22px;
			@media (max-width: 1200px) {
			  font-size: 20px;
			  text-align: center;
			}
			@media (max-width: 960px) {
			  font-size: 18px;
			}
			@media (max-width: 767px) {
			  font-size: 15px;
			}
		  }
		}
		.spent-description-wrapper {
		  margin: 5px 0 7px 0;
		  p {
			color: #676767;
			font-family: 'Gotham-Book';
			font-size: 18px;
			@media (max-width: 1200px) {
			  font-size: 16px;
			}
			@media (max-width: 1200px) {
			  text-align: center;
			}
			@media (max-width: 960px) {
			  font-size: 15px;
			}
			@media (max-width: 767px) {
			  font-size: 12px;
			}
		  }
		}
	  }
	  .spent-price-wrapper {
		display: flex;
		justify-content: flex-end;
		span {
		  color: #107cb3;
		  font-family: 'Gotham-Book';
		  font-size: 24px;
		  font-weight: 800;
		  @media (max-width: 960px) {
			font-size: 22px;
		  }
		  @media (max-width: 767px) {
			font-size: 18px;
		  }
		}
	  }
	}
  }
}

section.reporting-stat {
  position: relative;
  margin-top: 20px;
  .reporting-stat-wrapper {
	background-color: #ffffff;
	width: 100%;
	border-radius: 7px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	.stat-choose-data-wrapper {
	  .choose-data-select-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 20px;
		.choose-data-title {
		  h3 {
			color: #676767;
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			font-weight: 600;
			@media (max-width: 1200px) {
			  font-size: 22px;
			}
			@media (max-width: 767px) {
			  font-size: 18px;
			}
		  }
		}
		.select-img {
		  width: 270px;
		  display: flex;
		  justify-content: flex-end;
		  background-image: url("../../app/img/content/darts.png");
		  -ms-background-position-y: 20%;
		  background-repeat: no-repeat;
		  @media (max-width: 1200px) {
			background-position: 0% 50%;
		  }
		  @media (max-width: 960px) {
			width: 100%;
			margin-top: 10px;
		  }
		  @media (max-width: 767px) {
			background-size: 35px;
		  }
		  select.m-select {
			width: 200px;
			height: 52px;
			border: 1px solid #b0b0b0;
			color: #b8b8b8;
			font-family: 'Gotham-Book';
			font-size: 18px;
			font-weight: 300;
			@media (max-width: 960px) {
			  width: 90%;
			}
			@media (max-width: 767px) {
			  height: 35px;
			}
			@media (max-width: 375px) {
			  width: 80%;
			}
		  }
		}
	  }
	}
	.leads-wrapper {
	  ul {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		li.leads {
		  width: 32%;
		  display: flex;
		  flex-direction: column;
		  border-radius: 7px;
		  cursor: pointer;
		  //&:active,
		  //&:focus,
		  //&:hover {
			//box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
			//border-radius: 7px;
			//background-color: #f7f7f7;
		  //}
		  a.active {
			box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
			border-radius: 7px;
			background-color: #f7f7f7;
		  }
		  a {
			display: flex;
			flex-direction: column;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
			border-radius: 7px;
			padding: 10px 20px;
			.leads-price {
			  color: #fd4747;
			  font-family: 'Gotham-Book';
			  font-size: 26px;
			  font-weight: 800;
			  @media (max-width: 1200px){
				font-size: 24px;
			  }
			  @media (max-width: 960px){
				font-size: 20px;
			  }
			  @media (max-width: 375px){
				font-size: 16px;
			  }
			}
			.leads-title {
			  color: #676767;
			  font-family: 'Gotham-Book';
			  font-size: 22px;
			  font-weight: 800;
			  @media (max-width: 1200px){
				font-size: 20px;
			  }
			  @media (max-width: 960px){
				font-size: 18px;
			  }
			  @media (max-width: 375px){
				font-size: 16px;
			  }
			}
		  }
		}
	  }
	}
	.reporting-users-wrapper {
	  margin: 20px 7px 0 7px;
	  @media (max-width: 767px){
		margin-bottom: 20px;
	  }
	  .reporting-user-title {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 7px;
		background-color: #f7f7f7;
		@media (max-width: 767px){
		  height: 40px;
		  margin-bottom: 10px;
		}
		span {
		  color: #676767;
		  font-family: 'Gotham-Book';
		  font-size: 24px;
		  font-weight: 800;
		  @media (max-width: 1200px){
			font-size: 18px;
		  }
		  @media (max-width: 960px){
			font-size: 13px;
		  }
		}
	  }
	  .user-gender-data {
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 10px;
		.line {
		  border-right: 1px solid #dcdcdc;
		  @media (max-width: 576px) {
			border-right: 0;
		  }
		}
		.gender-user-wrapper {
		  display: flex;
		  justify-content: space-around;
		  margin-left: 10px;
		  .user-gender-title {
			h4 {
			  color: #676767;
			  font-family: 'Gotham-Book';
			  font-size: 20px;
			  font-weight: 300;
			  @media (max-width: 1200px) {
				font-size: 18px;
			  }
			  @media (max-width: 960px) {
				font-size: 16px;
			  }
			}
		  }
		  .user-gender-avatar {
			img {
			  width: 55px;
			  @media (max-width: 1200px) {
				width: 40px;
			  }
			}
		  }
		  .user-gender-percent {
			display: flex;
			align-items: center;
			span {
			  color: #0e7ab2;
			  font-family: 'Gotham-Book';
			  font-size: 30px;
			  font-weight: 800;
			  @media (max-width: 1200px) {
				font-size: 26px;
			  }
			  @media (max-width: 1200px) {
				font-size: 20px;
			  }
			}
		  }
		}
	  }
	}
	.reporting-users-age-wrapper {
	  margin: 20px 7px 0 7px;
	  .reporting-age-title {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 7px;
		background-color: #f7f7f7;
		@media (max-width: 767px) {
		  height: 40px;
		  margin-bottom: 10px;
		}
		span {
		  color: #676767;
		  font-family: 'Gotham-Book';
		  font-size: 24px;
		  font-weight: 800;
		  @media (max-width: 1200px){
			font-size: 18px;
		  }
		  @media (max-width: 960px){
			font-size: 13px;
		  }
		}
	  }
	  .user-age-data {
		display: flex;
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 10px;
		.user-age-wrapper {
		  width: 20%;
		  height: 72px;
		  display: flex;
		  justify-content: space-around;
		  border-right: 1px solid #dcdcdc;
		  @media (max-width: 1200px){
			height: 57px;
		  }
		  @media (max-width: 960px){
			flex-direction: column;
			align-items: center;
			height: 41px;
		  }
		  &:last-child {
			border-right: none;
		  }
		  .user-age {
			margin-bottom: 5px;
			span {
			  color: #676767;
			  font-family: 'Gotham-Book';
			  font-size: 20px;
			  font-weight: 300;
			  @media (max-width: 1200px){
				font-size: 18px;
			  }
			  @media (max-width: 767px){
				font-size: 14px;
			  }
			  @media (max-width: 320px){
				font-size: 12px;
			  }
			}
		  }
		  .user-percent {
			display: flex;
			align-items: center;
			span {
			  color: #0e7ab2;
			  font-family: 'Gotham-Book';
			  font-size: 30px;
			  font-weight: 800;
			  @media (max-width: 1200px){
				font-size: 26px;
			  }
			  @media (max-width: 1200px){
				font-size: 20px;
			  }
			  @media (max-width: 375px){
				font-size: 15px;
			  }
			}
		  }
		}
	  }
	}
	.reporting-users-placement-wrappers {
	  margin: 20px 7px 0 7px;
	  .reporting-placement-title {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 7px;
		background-color: #f7f7f7;
		@media (max-width: 767px) {
		  height: 40px;
		  margin-bottom: 10px;
		}
		span {
		  color: #676767;
		  font-family: 'Gotham-Book';
		  font-size: 24px;
		  font-weight: 800;
		  @media (max-width: 1200px){
			font-size: 18px;
		  }
		  @media (max-width: 1200px){
			font-size: 13px;
		  }
		}
	  }
	  .user-placement-data {
		display: flex;
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 10px;
		.user-placement-wrapper {
		  width: 20%;
		  height: 72px;
		  display: flex;
		  flex-direction: column;
		  justify-content: space-around;
		  border-right: 1px solid #dcdcdc;
		  @media (max-width: 1200px){
			height: 57px;
		  }
		  @media (max-width: 960px){
			height: 41px;
		  }
		  &:last-child {
			border-right: none;
		  }
		  .user-placement-title {
			display: flex;
			margin-left: 5px;
			margin-bottom: 5px;
			@media (max-width: 960px){
			  margin-left: 2px;
			}
			span {
			  font-size: 18px;
			  font-weight: 500;
			  @media (max-width: 1200px){
				font-size: 16px;
			  }
			  @media (max-width: 960px){
				font-size: 11px;
				font-weight: 700;
			  }
			  @media (max-width: 767px){
				font-size: 10px;
				font-weight: 700;
			  }
			}
		  }
		  .user-placement-content {
			display: flex;
			justify-content: space-around;
			@media (max-width: 960px){
			  align-items: center;
			}
			.user-placement-img {
			  height: 46px;
			  display: flex;
			  align-items: center;
			  img {
				@media (max-width: 1200px){
				  height: 33px;
				}
				@media (max-width: 960px){
				  width: auto;
				  height: 20px;
				}
				@media (max-width: 767px){
				  display: none;
				}
			  }
			}
			.user-placement-percent {
			  span {
				color: #0e7ab2;
				font-family: 'Gotham-Book';
				font-size: 30px;
				font-weight: 800;
				@media (max-width: 1200px){
				  font-size: 26px;
				}
				@media (max-width: 960px){
				  font-size: 22px;
				}
				@media (max-width: 767px){
				  font-size: 15px;
				}
			  }
			}
		  }
		}
	  }
	}
	.reporting-nav-placement-wrappers {
	  margin-top: 20px;
	  display: flex;
	  justify-content: flex-end;
	  .reporting-nav-button {
		width: 130px;
		height: 45px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-radius: 100px;
		cursor: pointer;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		@media (max-width: 767px) {
		  width: 120px;
		  height: 35px;
		}
		img {
		  width: auto;
		  height: 25px;
		  @media (max-width: 767px) {
			width: auto;
			height: 20px;

		  }
		}
		img:first-child {
		  margin-left: 10px;
		}
		img:last-child {
		  margin-right: 10px;
		}
		span {
		  background-color: #dcdcdc;
		  width: 1px;
		  height: 30px;
		}
	  }
	}
  }
}

section.reporting-setting {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  .reporting-setting-wrapper {
	background-color: #ffffff;
	width: 100%;
	border-radius: 7px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	.reporting-title-select {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  border-bottom: 1px solid #dcdcdc;
	  padding-bottom: 20px;
	  @media (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
	  }
	  .reporting-setting-title {
		@media (max-width: 767px) {
		  margin-bottom: 10px;
		}
		h3 {
		  color: #676767;
		  font-family: "Open Sans";
		  font-size: 24px;
		  font-weight: 600;
		  @media (max-width: 1200px) {
			font-size: 22px;
		  }
		  @media (max-width: 767px) {
			font-size: 18px;
		  }
		}
	  }
	  .reporting-setting-select {
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
		  width: 100%;

		}
		span {
		  color: #676767;
		  font-family: "Open Sans";
		  font-size: 24px;
		  font-weight: 600;
		  @media (max-width: 1200px) {
			font-size: 20px;
		  }
		  @media (max-width: 767px) {
			font-size: 16px;
		  }
		}
		select.m-select {
		  color: #b8b8b8;
		  border: 1px solid #b0b0b0;
		  border-radius: 7px;
		  font-family: 'Gotham-Book';
		  font-size: 18px;
		  font-weight: 300;
		  margin-left: 20px;
		  padding: 0 50px 0 15px;
		  @media (max-width: 1200px) {
			width: 250px;
			font-size: 16px;
			padding: 0 15px;
		  }
		  @media (max-width: 767px) {
			width: 100%;
			height: 35px;
		  }
		  @media (max-width: 320px) {
			font-size: 12px;
			padding: 0 8px;
		  }
		}
	  }
	}
	.table-wrapper {
	  width: 100%;
	  overflow: auto;
	  table thead,
	  table tbody {
		display: block;
	  }
	  table tbody {
		overflow: auto;
		height: 300px;
	  }
	  td {
		vertical-align: middle !important;
		border: 1px solid #dcdcdc;
		padding-left: 16px;
		padding-right: 17px;
		padding-top: 10px;
		padding-bottom: 10px;
	  }
	  table {
		thead {
		  tr {
			td {
			  text-align: center;
			  color: #676767;
			  font-family: 'Gotham-Book';
			  font-size: 11px;
			  font-weight: 500;
			  text-transform: uppercase;
			  border: 0 !important;
			  padding-left: 0;
			  padding-right: 0;
			}
		  }
		}
		tbody {
		  tr {
			&:nth-child(even) {
			  background-color: #F7F7F7;
			}
			&:nth-child(odd) {
			  background-color: #fcfcfc;
			}
			td {
			  color: #676767;
			  font-family: 'Gotham-Book';
			  font-size: 16px;
			  font-weight: 300;
			  .wrap {
				position: relative;
				float: left;
				label {
				  margin: 0;
				}
				input {
				  position:absolute;
				  left:-9999px
				}
				.slider-v3 {
				  position: relative; display: block;
				  width: 70px; height: 35px;
				  cursor: pointer;
				  border-radius: 1.5em;
				  transition: 350ms;
				  background: #ffffff;
				  border: 2px solid #074370;
				  -webkit-box-shadow: inset 0px 4px 4px 0px #aeaeae;
				  -moz-box-shadow: inset 0px 4px 4px 0px #aeaeae;
				  box-shadow: inset 0px 4px 4px 0px #aeaeae;
				}
				// ********** Switch:
				.slider-v3::after {
				  position: absolute; content:'';
				  width: 21px; height: 21px;
				  top: 5px; left: 6px;
				  border-radius: 1.5em;
				  transition:
						  width 200ms ease-out,
						  height 300ms 50ms ease-in,
						  top 300ms 50ms ease-in,
						  left 250ms 50ms ease-in,
						  background 300ms ease-in,
						  box-shadow 300ms ease-in;

				  border: 2px solid #074370;
				  background-color: #aeaeae;
				  box-shadow: -1.9px 7px 0 -5px #ffffff inset;
				}
				input:checked + .slider-v3::after {
				  width: 21px; height: 21px;
				  top: 5px; left: 39px;
				  background: #75b600;
				  box-shadow: -1.9px 7px 0 -5px #ffffff inset;
				}
			  }
			}
		  }
		}
	  }
	}
	.reporting-table-nav {
	  display: flex;
	  justify-content: space-between;
	  margin-top: 20px;
	  @media (max-width: 767px) {
		flex-direction: column;
		margin-top: 10px;
	  }
	  .table-pagination-wrapper {
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
		  justify-content: space-between;
		}
		@media (max-width: 375px) {
		  font-size: 15px;
		}
		a {
		  margin-right: 25px;
		  @media (max-width: 375px) {
			&:last-child {
			  margin: 0 !important;
			}
		  }
		}
		a.table-nav-circle {
		  color: #757575;
		  background-color: #dcdcdc;
		  display: inline-flex;
		  width: 36px;
		  height: 36px;
		  justify-content: center;
		  align-items: center;
		  border-radius: 16px;
		  margin-right: 15px;
		  @media (max-width: 375px) {
			height: 31px;
			margin-right: 7px;
		  }
		}
		a {
		  color: #676767;
		  font-family: 'Open Sans';
		  i {
			font-style: normal;
		  }
		}
		a.nav-pagination-active {
		  color: #ffffff;
		  background-color: #757575;
		  display: inline-flex;
		  width: 36px;
		  height: 36px;
		  justify-content: center;
		  align-items: center;
		  border-radius: 16px;
		  @media (max-width: 375px) {
			height: 29px;
		  }
		  i {
			font-family: 'Open Sans';
		  }
		}
		.nav-pagination-dots {
		  display: flex;
		  align-items: center;
		  i {
			font-size: 5px;
			margin: 2px;
		  }
		}
	  }
	  .table-setting-pagination-wrapper {
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
		  margin-top: 10px;
		  justify-content: space-between;
		}
		.table-nav-select {
		  margin-left: 30px;
		  @media (max-width: 767px) {
			margin-left: 0;
		  }
		  select {
			color: #ffffff;
			background-color: #868686;
			border-radius: 30px;
			font-family: 'Gotham-Book';
			font-size: 20px;
			font-weight: 300;
			outline: none;
			margin-right: 30px;
			padding: 2px 30px;
			background-image: url('../../app/img/content/arrow-down1.png');
			background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: 85% 0%;
			cursor: pointer;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: '';
			@media (max-width: 767px) {
			  background-position: 85% 80%;
			}
		  }
		}
		.table-nav-info {
		  span {
			color: #676767;
			font-family: 'Gotham-Book';
			font-size: 18px;
			font-weight: 300;
			@media (max-width: 960px) {
			  font-size: 13px;
			}
		  }
		}
	  }
	}
  }
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -3px 5px 0px #bbb;
  padding: 15px 0;
  @media (max-width: 767px) {
	padding: 10px 0;
  }
  .footer-wrapper {
	display: flex;
	align-items: center;
	@media (max-width: 767px) {
	  flex-direction: column;
	}
	.footer-menu {
	  width: 50%;
	  @media (max-width: 767px) {
		width: 100%;
	  }
	  ul {
		display: flex;
		justify-content: space-between;
		width: 100%;
		list-style-type: none;
		@media (max-width: 767px) {
		  width: 100%;
		  justify-content: space-around;
		}
		li {
		  a {
			color: $color-main;
			font-size: 18px;
			@media (max-width: 767px) {
			  font-size: 16px;
			}
		  }
		}
	  }
	}
	.footer-social {
	  width: 50%;
	  @media (max-width: 767px) {
		width: 100%;
	  }
	  .footer-social-wrapper {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		ul {
		  display: flex;
		  justify-content: space-between;
		  width: 60%;
		  list-style-type: none;
		  @media (max-width: 767px) {
			width: 100%;
			justify-content: space-around;
		  }
		  li {
			a {

			  img {
				width: 25px;
			  }
			}
		  }
		}
	  }
	}
  }
}

//section.table {
//  margin-top: 100px;
//  .table-wrapper {
//	width: 100%;
//	background-color: #ffffff;
//	border-radius: 7px;
//	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
//	overflow: auto;
//	padding: 10px;
//
//	table thead,
//	table tbody {
//	  display: block;
//	}
//
//	table tbody {
//	  overflow: auto;
//	  height: 300px;
//	}
//
//	td {
//	  vertical-align: middle !important;
//	  border: 1px solid #dcdcdc;
//	  padding-left: 18px;
//	  padding-right: 18px;
//	}
//
//	table {
//	  thead {
//		tr {
//		  td {
//			text-align: center;
//			color: #676767;
//			font-family: 'Gotham-Book';
//			font-size: 11px;
//			font-weight: 500;
//			text-transform: uppercase;
//			border: 0 !important;
//			padding-left: 0;
//			padding-right: 0;
//		  }
//		}
//	  }
//	  tbody {
//		tr {
//		  &:nth-child(even) {
//			background-color: #F7F7F7;
//		  }
//		  &:nth-child(odd) {
//			background-color: #fcfcfc;
//		  }
//		  td {
//			color: #676767;
//			font-family: 'Gotham-Book';
//			font-size: 16px;
//			font-weight: 300;
//			.wrap {
//			  position: relative;
//			  float: left;
//			  label {
//				margin: 0;
//			  }
//			  input {
//				position:absolute;
//				left:-9999px
//			  }
//			  .slider-v3 {
//				position: relative; display: block;
//				width: 70px; height: 35px;
//				cursor: pointer;
//				border-radius: 1.5em;
//				transition: 350ms;
//				background: #ffffff;
//				border: 2px solid #074370;
//				-webkit-box-shadow: inset 0px 4px 4px 0px #aeaeae;
//				-moz-box-shadow: inset 0px 4px 4px 0px #aeaeae;
//				box-shadow: inset 0px 4px 4px 0px #aeaeae;
//			  }
//
//			  // ********** Switch:
//			  .slider-v3::after {
//				position: absolute; content:'';
//				width: 21px; height: 21px;
//				top: 5px; left: 6px;
//				border-radius: 1.5em;
//				transition:
//						width 200ms ease-out,
//						height 300ms 50ms ease-in,
//						top 300ms 50ms ease-in,
//						left 250ms 50ms ease-in,
//						background 300ms ease-in,
//						box-shadow 300ms ease-in;
//
//				border: 2px solid #074370;
//				background-color: #aeaeae;
//				box-shadow: -1.9px 7px 0 -5px #ffffff inset;
//			  }
//
//			  input:checked + .slider-v3::after {
//				width: 21px; height: 21px;
//				top: 5px; left: 39px;
//				background: #75b600;
//				box-shadow: -1.9px 7px 0 -5px #ffffff inset;
//			  }
//			}
//		  }
//		}
//	  }
//	}
//  }
//}