@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../../app/fonts/Gotham-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../../app/fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url("../../app/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.m-btn {
  width: 280px;
  color: #0c508e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  transition: all 0.2s;
  padding: 15px 20px; }
  .m-btn > img {
    margin-right: 10px; }
  .m-btn.active {
    box-shadow: none;
    border-color: #0c508e;
    text-decoration: none;
    font-weight: 600; }
  .m-btn:active, .m-btn:focus, .m-btn:hover {
    box-shadow: none;
    border-color: #0c508e;
    text-decoration: none; }
  .m-btn.btn-primary {
    height: 60px;
    color: #0C508E;
    background-color: #ffffff;
    font-size: 17px; }
    .m-btn.btn-primary:active, .m-btn.btn-primary:focus, .m-btn.btn-primary:hover {
      color: #ffffff;
      background-color: #00B3F9;
      border-color: #0c508e;
      font-weight: 600;
      text-decoration: none; }
  .m-btn.btn-secondary {
    color: #ffffff;
    background-color: #0c508e;
    font-weight: 600; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 7px;
  padding-right: 7px; }

.m-input-wrapper {
  position: relative; }
  .m-input-wrapper input.m-input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #185994;
    outline: none;
    padding-left: 20px; }
  .m-input-wrapper input::placeholder {
    font-weight: 600; }

.m-input-img-wrapper {
  position: relative; }
  .m-input-img-wrapper img.ui-datepicker-trigger {
    position: absolute;
    left: 0;
    bottom: 9px; }
  .m-input-img-wrapper input.m-input {
    color: #444a54;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #185994;
    font-family: 'Gotham-Book';
    font-size: 17px;
    font-weight: 600;
    outline: none;
    padding-left: 80px; }
  .m-input-img-wrapper input::placeholder {
    font-weight: 600; }

select.m-select {
  width: 100%;
  height: 56px;
  color: #444;
  background-image: url("http://paulettepaulette.com/wp-content/uploads/intense-cache/icons/plugin/font-awesome/caret-down.svg");
  background-repeat: no-repeat;
  background-size: 60px 20px;
  background-position: right center;
  padding-right: 20px;
  background-color: #ffffff;
  font-family: 'Raleway';
  font-size: 15px;
  border: 2px solid #0c508e;
  border-radius: 100px;
  padding: 0 30px;
  margin: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.star {
  color: #fbd000;
  font-size: 65px;
  position: relative;
  padding: 0 1rem;
  /* space out the stars */ }
  .star::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2606';
    cursor: pointer; }
  .star:hover::before {
    content: '\2605' !important; }

.star.rated::before {
  content: '\2605' !important; }

* {
  box-sizing: border-box; }

body {
  min-width: 320px;
  color: #B6B6B6;
  background-color: #aeaeae;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 0; }
  @media (max-width: 767px) {
    body {
      line-height: 1.1; } }

section {
  margin-bottom: 200px; }

ul {
  padding: 0; }

.upload-title-items {
  color: #0c508e;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600; }

.upload-line-block {
  width: calc(100% + 100px);
  height: 1px;
  background-color: #e3e3e3;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 60px; }

section.module-accordion {
  background-color: #ffffff; }
  section.module-accordion button.accordion {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 56px;
    color: #444;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    border: none;
    border-radius: 100px;
    padding: 0 30px;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
    transition: 0.4s; }
    @media (max-width: 767px) {
      section.module-accordion button.accordion {
        height: auto;
        align-items: center;
        border-radius: 25px;
        padding: 0 20px; } }
    section.module-accordion button.accordion .accordion-addset {
      color: #6b6b6b;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 500; }
      @media (max-width: 767px) {
        section.module-accordion button.accordion .accordion-addset {
          font-size: 18px;
          padding-top: 5px;
          padding-bottom: 25px; } }
  section.module-accordion button.accordion:before {
    position: absolute;
    top: 15px;
    right: 50px;
    content: "1,000,000 People";
    color: #0c508e;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px; }
    @media (max-width: 767px) {
      section.module-accordion button.accordion:before {
        top: 23px;
        left: 15px;
        text-align: left;
        font-size: 18px; } }
  section.module-accordion button.accordion:after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px; }
  section.module-accordion button.accordion.active:after {
    content: "\f0d8";
    font-family: 'FontAwesome';
    float: right; }
  section.module-accordion div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }
    section.module-accordion div.panel ul {
      width: 100%; }
      section.module-accordion div.panel ul li {
        display: flex;
        align-items: center;
        border-bottom: .02px solid #e3e3e3; }
        section.module-accordion div.panel ul li .list-img-wrapper {
          width: 80px;
          display: flex;
          justify-content: center;
          padding: 10px 0; }
          section.module-accordion div.panel ul li .list-img-wrapper img {
            height: 39px; }
        section.module-accordion div.panel ul li .list-title-wrapper {
          width: 50%; }
          section.module-accordion div.panel ul li .list-title-wrapper span {
            color: #727272;
            font-family: "Gotham-Book";
            font-size: 18px;
            font-weight: 600; }
        section.module-accordion div.panel ul li .list-result-wrapper {
          width: 50%; }
          section.module-accordion div.panel ul li .list-result-wrapper span {
            color: #727272;
            font-family: "Gotham-Book";
            font-size: 15px; }

button.accordion {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 56px;
  color: #444;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  border: none;
  border-radius: 100px;
  padding: 0 30px;
  margin: 10px 0;
  cursor: pointer;
  outline: none;
  transition: 0.4s; }
  @media (max-width: 767px) {
    button.accordion {
      height: auto;
      align-items: center;
      border-radius: 25px;
      padding: 0 20px; } }
  button.accordion .accordion-addset {
    color: #6b6b6b;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500; }
    @media (max-width: 767px) {
      button.accordion .accordion-addset {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 25px; } }

button.accordion:before {
  position: absolute;
  top: 15px;
  right: 50px;
  content: "1,000,000 People";
  color: #0c508e;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px; }
  @media (max-width: 767px) {
    button.accordion:before {
      top: 23px;
      left: 15px;
      text-align: left;
      font-size: 18px; } }

button.accordion:after {
  content: "\f0d7";
  font-family: 'FontAwesome';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

button.accordion.active:after {
  content: "\f0d8";
  font-family: 'FontAwesome';
  float: right; }

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  div.panel ul {
    width: 100%; }
    div.panel ul li {
      display: flex;
      align-items: center;
      border-bottom: .02px solid #e3e3e3; }
      div.panel ul li .list-img-wrapper {
        width: 80px;
        display: flex;
        justify-content: center;
        padding: 10px 0; }
        div.panel ul li .list-img-wrapper img {
          height: 39px; }
      div.panel ul li .list-title-wrapper {
        width: 50%; }
        div.panel ul li .list-title-wrapper span {
          color: #727272;
          font-family: "Gotham-Book";
          font-size: 18px;
          font-weight: 600; }
      div.panel ul li .list-result-wrapper {
        width: 50%; }
        div.panel ul li .list-result-wrapper span {
          color: #727272;
          font-family: "Gotham-Book";
          font-size: 15px; }

.m-btn {
  width: 280px;
  color: #0c508e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  transition: all 0.2s;
  padding: 15px 20px; }
  .m-btn > img {
    margin-right: 10px; }
  .m-btn.active {
    box-shadow: none;
    border-color: #0c508e;
    text-decoration: none;
    font-weight: 600; }
  .m-btn:active, .m-btn:focus, .m-btn:hover {
    box-shadow: none;
    border-color: #0c508e;
    text-decoration: none; }
  .m-btn.btn-primary {
    height: 60px;
    color: #0C508E;
    background-color: #ffffff;
    font-size: 17px; }
    .m-btn.btn-primary:active, .m-btn.btn-primary:focus, .m-btn.btn-primary:hover {
      color: #ffffff;
      background-color: #00B3F9;
      border-color: #0c508e;
      font-weight: 600;
      text-decoration: none; }
  .m-btn.btn-secondary {
    color: #ffffff;
    background-color: #0c508e;
    font-weight: 600; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 7px;
  padding-right: 7px; }

.m-input-wrapper {
  position: relative; }
  .m-input-wrapper input.m-input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #185994;
    outline: none;
    padding-left: 20px; }
  .m-input-wrapper input::placeholder {
    font-weight: 600; }

.m-input-img-wrapper {
  position: relative; }
  .m-input-img-wrapper img.ui-datepicker-trigger {
    position: absolute;
    left: 0;
    bottom: 9px; }
  .m-input-img-wrapper input.m-input {
    color: #444a54;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #185994;
    font-family: 'Gotham-Book';
    font-size: 17px;
    font-weight: 600;
    outline: none;
    padding-left: 80px; }
  .m-input-img-wrapper input::placeholder {
    font-weight: 600; }

select.m-select {
  width: 100%;
  height: 56px;
  color: #444;
  background-image: url("http://paulettepaulette.com/wp-content/uploads/intense-cache/icons/plugin/font-awesome/caret-down.svg");
  background-repeat: no-repeat;
  background-size: 60px 20px;
  background-position: right center;
  padding-right: 20px;
  background-color: #ffffff;
  font-family: 'Raleway';
  font-size: 15px;
  border: 2px solid #0c508e;
  border-radius: 100px;
  padding: 0 30px;
  margin: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.star {
  color: #fbd000;
  font-size: 65px;
  position: relative;
  padding: 0 1rem;
  /* space out the stars */ }
  .star::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2606';
    cursor: pointer; }
  .star:hover::before {
    content: '\2605' !important; }

.star.rated::before {
  content: '\2605' !important; }

* {
  box-sizing: border-box; }

body {
  min-width: 320px;
  color: #B6B6B6;
  background-color: #F7F7F7;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  margin: 0; }

#scroll-1::-webkit-scrollbar,
#scroll-2::-webkit-scrollbar,
#scroll-3::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff; }

#scroll-1::-webkit-scrollbar-thumb,
#scroll-2::-webkit-scrollbar-thumb,
#scroll-3::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 3px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.line-100 {
  width: calc(100% + 200px);
  height: 1px;
  border-top: 1px solid #e3e3e3;
  opacity: 1 !important;
  margin-left: -50px; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px #bbb;
  margin-bottom: 15px;
  padding: 25px 0; }
  @media (max-width: 405px) {
    header {
      flex-direction: column;
      align-items: baseline;
      padding: 20px 0; } }
  header .header-logo-wrapper {
    margin: 0 35px; }
    @media (max-width: 1230px) {
      header .header-logo-wrapper {
        margin: 0 10px; } }
    @media (max-width: 500px) {
      header .header-logo-wrapper img {
        width: 200px; } }
    @media (max-width: 405px) {
      header .header-logo-wrapper img {
        margin-bottom: 10px; } }
  @media (max-width: 767px) {
    header .header-menu-nav.show .menu {
      transform: translateX(0); } }
  @media (max-width: 767px) {
    header .header-menu-nav .menu {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.75);
      top: 0;
      left: 0;
      transform: translateX(100%);
      flex-direction: column;
      transition: transform 0.2s ease-in-out; } }
  header .header-menu-nav .menu ul {
    display: flex;
    list-style-type: none; }
    @media (max-width: 767px) {
      header .header-menu-nav .menu ul {
        width: 100%;
        display: inline-block;
        margin-top: 90px; } }
    header .header-menu-nav .menu ul li.items {
      display: flex;
      align-items: center;
      width: 165px;
      height: 40px;
      border-radius: 15px;
      box-shadow: 0px 1px 5px #bbbbbb;
      margin: 0 10px; }
      @media (max-width: 1230px) {
        header .header-menu-nav .menu ul li.items {
          width: auto; } }
      @media (max-width: 1045px) {
        header .header-menu-nav .menu ul li.items {
          width: auto;
          height: auto; } }
      @media (max-width: 767px) {
        header .header-menu-nav .menu ul li.items {
          box-shadow: none; } }
      header .header-menu-nav .menu ul li.items a {
        font-size: 20px; }
        @media (max-width: 1230px) {
          header .header-menu-nav .menu ul li.items a {
            margin-right: 10px; } }
        @media (max-width: 1045px) {
          header .header-menu-nav .menu ul li.items a {
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px; } }
        @media (max-width: 767px) {
          header .header-menu-nav .menu ul li.items a {
            width: 100%;
            flex-direction: row;
            color: #FEFEFE;
            font-size: 20px;
            padding: 7px;
            border-bottom: 1px solid; } }
        header .header-menu-nav .menu ul li.items a img {
          margin: 0 10px; }
          @media (max-width: 1045px) {
            header .header-menu-nav .menu ul li.items a img {
              margin-top: 5px; } }
          @media (max-width: 767px) {
            header .header-menu-nav .menu ul li.items a img {
              width: 38px; } }
  header .header-menu-nav .toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px; }
    @media (max-width: 767px) {
      header .header-menu-nav .toggle {
        display: flex;
        z-index: 100; }
        header .header-menu-nav .toggle span {
          width: 100%;
          height: 3px;
          background-color: #ffffff; } }
    @media (max-width: 500px) {
      header .header-menu-nav .toggle {
        top: 15px; } }
    @media (max-width: 405px) {
      header .header-menu-nav .toggle {
        top: 30px; } }
  header .header-user-wrapper {
    display: flex;
    margin: 0 35px; }
    @media (max-width: 1230px) {
      header .header-user-wrapper {
        margin: 0 10px; } }
    @media (max-width: 767px) {
      header .header-user-wrapper {
        margin: 0 95px 0 10px; } }
    @media (max-width: 405px) {
      header .header-user-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0; } }
    @media (max-width: 500px) {
      header .header-user-wrapper .user-avatar img {
        width: 30px; } }
    header .header-user-wrapper .user-name {
      display: flex; }
      @media (max-width: 1045px) {
        header .header-user-wrapper .user-name {
          align-items: center; } }
      @media (max-width: 500px) {
        header .header-user-wrapper .user-name {
          align-items: baseline; } }
      header .header-user-wrapper .user-name span {
        margin: 0 20px;
        color: #0C508E; }
        @media (max-width: 1045px) {
          header .header-user-wrapper .user-name span {
            font-size: 16px; } }
        @media (max-width: 500px) {
          header .header-user-wrapper .user-name span {
            margin: 0 5px;
            font-size: 14px; } }
      header .header-user-wrapper .user-name .user-drop-down i {
        color: #0C508E;
        font-size: 14px; }
        @media (max-width: 1045px) {
          header .header-user-wrapper .user-name .user-drop-down i {
            font-size: 12px; } }

section.steps {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px #bbb;
  margin-top: 90px; }
  section.steps ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
    section.steps ul li a {
      position: relative;
      display: block;
      color: #0c508e;
      font-family: 'Gotham-Book';
      font-size: 25px; }
      section.steps ul li a.active:before {
        position: absolute;
        width: 28px;
        height: 37px;
        top: 0;
        left: -30px;
        content: '';
        background-image: url("../../app/img/content/pencil.png");
        background-repeat: no-repeat; }

section.content-wrapper {
  position: relative;
  top: 100px;
  margin-top: 5px;
  margin-bottom: 70px; }
  section.content-wrapper .content-left-wrapper {
    height: 72vh;
    background-color: #ffffff;
    padding-top: 190px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question1 .question-inner {
      padding: 55px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question1 .question-inner .campaign-title {
        width: 100%;
        margin-bottom: 35px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question1 .question-inner .campaign-title span {
          color: #0c508e;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 600; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question1 .question-inner .campaign-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question1 .question-inner .campaign-btn .campaign-link {
          width: 100%;
          display: flex;
          justify-content: center; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question2 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question2 .question-inner .lp-ad-title {
        margin-bottom: 50px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step1 ul.questions li#question2 .question-inner .lp-ad-title span {
          color: #0c508e;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 600; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question3 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question3 .question-inner .m-input-wrapper {
        margin-top: 40px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .upload-image-video {
        width: 100%;
        display: flex;
        margin-top: 40px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .upload-image-video .upload-content-wrapper {
          width: 50%;
          display: flex;
          justify-content: center; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-liberty-title {
        width: 100%;
        text-align: center;
        border-top: 1px solid #979797;
        margin: 30px 0 25px;
        padding-top: 25px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-liberty-title span {
          color: #464c56;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 500;
          padding-top: 25px; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav {
          width: 477px;
          height: 65px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border-radius: 30px; }
          section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper {
            width: 50%;
            height: 40px;
            display: flex;
            justify-content: center; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper:first-child {
              border-right: 1px solid #dcdcdc; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper button {
              background-color: #ffffff;
              border: none; }
              section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper button span {
                color: #0c508e;
                font-size: 17px; }
                section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper button span img {
                  margin-right: 10px; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper label {
              margin: 0; }
              section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper label span {
                color: #0c508e;
                font-size: 17px; }
                section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper label span img {
                  margin-right: 10px; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-btn .upload-nav .upload-btn-wrapper input {
              display: none;
              width: 0;
              height: 0;
              visibility: hidden;
              opacity: 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-preview-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-preview-wrapper .upload-preview {
          width: 638px;
          height: 331px;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          overflow-y: scroll;
          box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2); }
          section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-preview-wrapper .upload-preview .upload-img-wrapper {
            margin: 10px; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-preview-wrapper .upload-preview .upload-img-wrapper img {
              width: 275px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-preview-wrapper #scroll-1::-webkit-scrollbar {
          width: 6px;
          background-color: #ffffff; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-preview-wrapper #scroll-1::-webkit-scrollbar-thumb {
          background-color: #f2f2f2;
          border-radius: 3px; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-ok {
        width: 100%;
        display: flex;
        justify-content: center; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question4 .question-inner .uploader-file .upload-ok .link-ok-wrapper {
          width: 310px;
          height: 66px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question5 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step2 ul.questions li#question5 .question-inner .m-input-wrapper {
        margin-top: 30px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question6 .question-inner {
      padding-top: 60px; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question6 .question-inner .upload-choose-conversion {
        display: flex;
        flex-direction: column; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question6 .question-inner .upload-choose-conversion span.upload-title-conversion {
          margin-bottom: 15px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question6 .question-inner .upload-choose-conversion span.upload-description-conversion {
          color: #6b6b6b;
          font-family: Raleway;
          font-size: 15px;
          font-weight: 500; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question6 .question-inner .upload-choose-conversion .upload-choose-conversion-btn {
          margin: 45px 0 60px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question7 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question7 .question-inner .upload-message-audience {
        display: flex; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question7 .question-inner .upload-message-audience img {
          width: 49px;
          height: 39px;
          margin-right: 20px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question7 .question-inner .upload-message-audience p {
          color: #0c508e;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 35px; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question7 .question-inner .upload-continue-btn {
        margin-left: 60px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question8 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question8 .question-inner .upload-custom-audience .upload-custom-audience-btn {
        display: flex;
        justify-content: space-around;
        margin-top: 40px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question9 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step3 ul.questions li#question9 .question-inner .upload-choose-audience .upload-choose-audience-btn {
        margin-top: 40px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question10 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question10 .question-inner .step4-spend-money .step4-title {
        margin-bottom: 60px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question11 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question11 .question-inner .step4-when-start .step4-title {
        margin-bottom: 60px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question12 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question12 .question-inner .upload-message-audience {
        display: flex; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question12 .question-inner .upload-message-audience img {
          width: 49px;
          height: 39px;
          margin-right: 30px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question12 .question-inner .upload-message-audience p {
          color: #0c508e;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          margin-bottom: 45px; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question12 .question-inner .upload-continue-btn {
        margin-left: 70px; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step4 ul.questions li#question13 .question-inner {
      padding: 60px 0; }
    section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner {
      padding: 60px 0; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        margin-bottom: 20px;
        padding: 10px 20px; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step5-show-title span {
          color: #6b6b6b;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 600; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step5-show-refresh {
          width: 167px;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border-radius: 100px; }
          section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step5-show-refresh a {
            color: #0c508e;
            font-size: 17px;
            text-decoration: none; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step5-show-refresh a:hover {
              color: #0c508e; }
        section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step-show-btn {
          width: 167px;
          height: 56px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border-radius: 100px;
          padding: 0 40px; }
          section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step-show-btn a {
            color: #0c508e;
            font-size: 17px;
            text-decoration: none; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step-show-btn a:hover {
              color: #0c508e; }
            section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step-show-btn a i {
              color: #6c6c6c;
              font-size: 30px; }
          section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-show-panel .step-show-btn span {
            width: 2px;
            height: 40px;
            background-color: #dcdcdc; }
      section.content-wrapper .content-left-wrapper .lp-new-campaign #step5 ul.questions li#question14 .question-inner .step5-facebook-wrapper {
        width: 100%;
        display: flex;
        justify-content: center; }
  section.content-wrapper .content-right-wrapper {
    background-color: #ffffff;
    height: 72vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); }
    section.content-wrapper .content-right-wrapper .step2-facebook-post {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px; }
      section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        margin-bottom: 20px;
        padding: 10px 20px; }
        section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step2-show-title span {
          color: #6b6b6b;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 600; }
        section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step2-show-refresh {
          width: 167px;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border-radius: 100px; }
          section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step2-show-refresh a {
            color: #0c508e;
            font-size: 17px;
            text-decoration: none; }
            section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step2-show-refresh a:hover {
              color: #0c508e; }
        section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step-show-btn {
          width: 167px;
          height: 56px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          border-radius: 100px;
          padding: 0 40px; }
          section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step-show-btn a {
            color: #0c508e;
            font-size: 17px;
            text-decoration: none; }
            section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step-show-btn a:hover {
              color: #0c508e; }
            section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step-show-btn a i {
              color: #6c6c6c;
              font-size: 30px; }
          section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-panel-nav .step-show-btn span {
            width: 2px;
            height: 40px;
            background-color: #dcdcdc; }
      section.content-wrapper .content-right-wrapper .step2-facebook-post .step2-facebook-wrapper {
        width: 100%;
        display: flex;
        justify-content: center; }
    section.content-wrapper .content-right-wrapper .step3-accordion-page {
      margin-bottom: 100px; }
      section.content-wrapper .content-right-wrapper .step3-accordion-page .accordion-panel-nav {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px; }
        section.content-wrapper .content-right-wrapper .step3-accordion-page .accordion-panel-nav a {
          width: 165px;
          height: 40px; }
    section.content-wrapper .content-right-wrapper .step4-list ul li {
      display: flex;
      border-top: 1px solid #ebebeb;
      padding: 60px 20px; }
      section.content-wrapper .content-right-wrapper .step4-list ul li img {
        width: 83px;
        height: auto; }
      section.content-wrapper .content-right-wrapper .step4-list ul li .step4-info {
        display: flex;
        flex-direction: column;
        margin-left: 35px; }
        section.content-wrapper .content-right-wrapper .step4-list ul li .step4-info span.list-title {
          color: #0c508e;
          font-family: Raleway;
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          margin-bottom: 20px; }
        section.content-wrapper .content-right-wrapper .step4-list ul li .step4-info span.list-count {
          color: #c9321f;
          font-family: 'Gotham-Bold';
          font-size: 30px;
          font-weight: 400;
          line-height: 30px; }
    section.content-wrapper .content-right-wrapper .step5-accordion-page {
      margin-bottom: 100px; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -3px 5px 0px #bbb;
  padding: 20px 0; }
  @media (max-width: 767px) {
    footer {
      padding: 10px 0; } }
  footer .footer-wrapper {
    display: flex;
    align-items: center; }
    @media (max-width: 767px) {
      footer .footer-wrapper {
        flex-direction: column; } }
    footer .footer-wrapper .footer-menu {
      width: 50%; }
      @media (max-width: 767px) {
        footer .footer-wrapper .footer-menu {
          width: 100%; } }
      footer .footer-wrapper .footer-menu ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none; }
        @media (max-width: 767px) {
          footer .footer-wrapper .footer-menu ul {
            width: 100%;
            justify-content: space-around; } }
        footer .footer-wrapper .footer-menu ul li a {
          color: #B6B6B6; }
          @media (max-width: 767px) {
            footer .footer-wrapper .footer-menu ul li a {
              font-size: 16px; } }
    footer .footer-wrapper .footer-social {
      width: 50%; }
      @media (max-width: 767px) {
        footer .footer-wrapper .footer-social {
          width: 100%; } }
      footer .footer-wrapper .footer-social .footer-social-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end; }
        footer .footer-wrapper .footer-social .footer-social-wrapper ul {
          display: flex;
          justify-content: space-between;
          width: 60%;
          list-style-type: none; }
          @media (max-width: 767px) {
            footer .footer-wrapper .footer-social .footer-social-wrapper ul {
              width: 100%;
              justify-content: space-around; } }
          footer .footer-wrapper .footer-social .footer-social-wrapper ul li a img {
            width: 30px; }

.questions > .question {
  position: relative;
  opacity: .2;
  display: none; }
  .questions > .question.is-block {
    display: block; }
  .questions > .question.focus {
    cursor: default;
    opacity: 1; }

#is-step-2,
#is-step-3,
#is-step-4,
#is-step-5 {
  display: none; }
  #is-step-2.active,
  #is-step-3.active,
  #is-step-4.active,
  #is-step-5.active {
    display: block; }
